Hello {{ user.first_name }} {{ user.last_name }},

Welcome to Thesis Manager! An account has been created for you by {{ created_by.get_full_name|default:created_by.username }}.

Your username is: {{ user.username }}

To set your password and activate your account, please click the link below:
{{ reset_url }}

This link will expire in {{ password_reset_timeout_hours }} hours for security reasons.

Once you've set your password, you'll be able to log in to Thesis Manager and start using the system.

If you have any questions, please contact your administrator.

--
Thesis Manager
